<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>客服服务</title>
</head>
<body>

<div id="container">
    <div id="header">
        <div class="h_content">
            <!--头部功能栏、广告、关闭按钮-->
            <div id="logo"></div>
            <div id="zxfont">在线客服</div>
        </div>
    </div>


    <div class="center_left3">
        <span id="footerBox" class="footerBox"></span>
        <div class="closeEnterBar">
            <div id="exitChat" class="close">结束对话</div>
            <div class="entera">
                <div id="enter">发 送</div>
                <div id="shortcutkey"></div>
                <div id="shortKeyText" class="shortKeyText">Ctrl+Enter</div>
                <ul id="shortKeyMenu" style="display:none;">
                    <li data-short="Enter"><em></em><a href="#">[发送快捷键:Enter]</a></li>
                    <li data-short="Ctrl+Enter"><em></em><a href="#">[发送快捷键:Ctrl+Enter]</a></li>
                </ul>
                <div class="clo"></div>
            </div>
        </div>
    </div>
</div>


</body>
</html>