<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
<div>
<select class="form-control">
    <option>站站搜索</option>
    <option>站站d搜索</option>
</select>
    <br/>
   <h5>请选择您的出发城市/到达城市</h5>
    <li>
        &nbsp&nbsp<label>出发</label> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<label>到达</label>
    </li>

    <select class="form-control form-control-lg">
        <option>   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp北京&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp    </option>
        <option>   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp上海&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   </option>
        <option>   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp天津&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp    </option>
        <option>   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp杭州&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp    </option>
        <option>   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp南京&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp    </option>
        <option>   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp武汉&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   </option>
        <option>   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp苏州&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   </option>

    </select>


    <select class="form-control form-control-lg">
    <option>   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp北京&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   </option>
    <option>   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp上海&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   </option>
    <option>   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp天津&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp    </option>
    <option>   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp杭州&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp    </option>
    <option>   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp南京&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp    </option>
    <option>   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp武汉&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp    </option>
    <option>   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp苏州&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp    </option>
    </select>
</div>

    </br>
    <button value="" type="submit">提交</button>
</div>
</body>
</html>
