<!DOCTYPE html>
<html th:replace="~{layout/layout :: layout(~{::title},~{::div})}">
<head>
    <meta charset="UTF-8">
    <title>新闻公告</title>
</head>
<body>

<div class="card mb-3">
    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">最新消息</h5>
        <p class="card-text">
              受恶劣天气影响，江浙沪近两日内班次可能存在延误现象，详情联系客服或追踪订单实况。
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">特别消息</h5>
        <p class="card-text">詹姆斯中国行造访魔都上海，詹15X系列战靴现已发售，本公司承包购买、快递一站式服务，欢迎进入专栏下单</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <img class="card-img-bottom" src=".../100px180/" alt="Card image cap">
</div>

</body>
</html>